body{
	/*background-color: #3F9DBA;*/
	padding-top:5%;
}

/*.main-container{
	border-top: 60px;
	border-left: 120px;
	border-right: 120px;
	border-bottom: 60px;
}*/

/*.info{
	background-color: #FFFEE1;
}*/

.sign-in-out-up{
	float:right;
}

body a {
	color: #FFF;
}