<!-- Add Events Page -->
{% extends "header.html" %}
{% block content %}

<div class="row">
	<h1> Add an Event</h1>
	<caption> Events are the heart of WhatDoIDo. If you'd liek people to attend your wonderful events, here's the page to add 'em
	
	{% if message is defined %}
	<br><br><br>
	<div class="alert-success"> {{ message }} </div>
	<br><br><br>
	{% endif %}
	
	<b> <p>Note: Remember that dates and times need specific formatting. Dates should be entered like so:
		MONTH/DAY/YEAR. Times should be entered like so: 5:00 PM. So the date 2013/12/04 would be unacceptable... and the
		time 21:00. Times without the AM/PM declaration are assumed to be morning times.<p></b>
	</caption>

	<form action="/add_event" method="post" name="addevent">
		{{form.hidden_tag()}}
		<table>
			<tr>
				<td>Title:</td>
				<td>{{form.title(size=48)}}</td>
			</tr>

			<tr>
				<td>Description:</td>
				<td>{{form.description(size=12)}}</td>
			</tr>

			<tr>
				<td>Date:</td>
				<td>{{form.date(size=48)}}</td>
			</tr>

			<tr>
				<td>Start Time:</td>
				<td>{{form.start_time(size=48)}}</td>
			</tr>

			<tr>
				<td>End Time:</td>
				<td>{{form.end_time(size=48)}}</td>
			</tr>

			<tr>
				<td>Event Type:</td>
				<td>{{form.event_type(size=25)}}</td>
			</tr>

			<tr>
				<td>Capacity:</td>
				<td>{{form.capacity(size=10)}}</td>
			</tr>

			<tr>
				<td style="visibility:hidden">Hosted By:</td>
				<td>{{form.capacity(size=10, style="visibility:hidden")}}</td>
			</tr>
		</table>

		<input type="submit" value="Create Event" class="btn btn-success" />
</div>

<script>
	$("#home-btn").removeClass("active");
	$("#add-btn").addClass("active");
</script>
{% endblock %}