{% extends "header.html" %}
{% block content %}
<h1> Edit Your Profile</h1>
<form action="" method="POST" name="edit_profile">
	{{form.hidden_tag()}}
	<table>
		<tr>
			<td>Your Email:</td>
			<td>{{form.email(size=24)}}</td>
		</tr>

		<tr>
			<td>First Name:</td>
			<td>{{form.fname(size=24)}}</td>
		</tr>

		<tr>
			<td>Last name:</td>
			<td>{{form.lname(size=24)}}</td>
		</tr>

		<tr>
			<td>School:</td>
			<td>{{form.school(size=24)}}</td>
		</tr>

		<tr>
			<td>Gender:</td>
			<td>{{form.sex(size=24)}}</td>
		</tr>

	</table>
</form>
{% endblock %}