{% extends "header.html" %}
{% block content %}

<h1>{{event.title}}</h1>

<div class="row">
	<div class="col-md-6">
		<i>Here's some event details:</i>
		<b>Event Description:</b>
		{{event.desc}}
		<br><br>
	</div>

	<div class="col-md-6">
		<b>Event Date: </b>
		{{event.date}}
		<br><br>
		<b>Event Time: </b>
		{{event.time_start}}
		<br><br>
		<b>Event End: </b>
		{{event.time_end}}
		<br><br>
		<b>Current Event Occupancy</b>
		{{event.attending}} / {{event.capacity}}
	</div>

	{% if ar is not defined %}
		<h1><a href= class="label label-default">NOT REGISTERED</span></h1>
		It appears that you are not registered for this event. 
</div>

{% endblock %}