<html>
<head>
	<link href="static/styles/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link href="static/styles/styles.css" rel="stylesheet">
</head>
<body>
	<div class="navbar">
		<div class="navbar-inner">
			<div class="container">
				<ul class="nav">
					<li class="active"><a href="/">Home</a></li>
					<li><a href="/profile">Profile</a></li>
					<li><a href="/add_event">Add Events</a></li>
					<li><a href="/search">Event Search</a></li>
					<li><a href="#">My Event List</a></li>
				</ul>


				<div class="sign-in-out-up">
					{% if g.user.is_authenticated() %}
					<button type="button" class="btn btn-lg btn-danger" onclick="window.location='/signout'">Sign Out</button>

					{% else %}
					<button type="button" class="btn btn-lg btn-success" onclick="window.location='/signin'">Sign In</button>
					<button type="button" class="btn btn-lg btn-warning" onclick="window.location='/signup'"> Sign Up</button>

					{% endif %}
				</div>
			</div>
		</div>
	</div><!-- /.navbar -->

	<div class="container">
		<div class="panel panel-success">
			<div class="panel-body">
				    <hr>
					    {% with messages = get_flashed_messages() %}
					    {% if messages %}
					    <ul>
					    {% for message in messages %}
					        <li>{{ message }} </li>
					    {% endfor %}
					    {% endif %}
					    {% endwith %}
					</hr>

				{% block content %} {% endblock %}
			</div>
		</div>
	</div>

	<script src="http://code.jquery.com/jquery.js"></script>
	<script src="static/styles/bootstrap/js/bootstrap.min.js"></script>
	<script src="static/scripts/utils.js"></script>
</body>
</html>
