{% extends "header.html" %}
{% block content %}

<div class="jumbotron">
	<div class="container">
		<h1>Welcome to WhatDoIDo</h1>
		<p>"What do I do?" -- a typical question when one does not have a set schedule of activities for a day. 
		<br>Maybe you don't	know about events going on around you... maybe you just can't find things that you like.
		<br>This is defintiely when you ask yourself, "What do I do"?</p>

		Don't have an account? <a href="/signup" class="btn btn-warning"> Sign-Up Today!</a>
	</div>
</div>

{% endblock %}