{% extends "header.html" %}
{% block content %}

<form action="/login" method="post" >
	{{form.hidden_tag()}}

	<label for="email"> Email Address </label>
	{{form.email(placeholder="Email", class="form-control", name="email")}}

	<label for="pwd"> Password </label>
	{{form.email(placeholder="Password", class="form-control", type="password", name="pwd")}}

	<label for="remember_me"> Remember Me </label>
	{{form.remember_me(name="remember_me")}}

	<input type="submit" value="Sign In" class="btn btn-success" />
</form>

{% endblock %}
