{% extends "header.html" %}

{% block content %}
</script>
<div class="row">
<h1>Welcome to WhatToDo.</h1>
<form action="/login" method="post" name="login" class="col-md-6">
    {{form.hidden_tag()}}
    
    <label for="email"> Email Address </label>
    {{form.email(placeholder="Email", class="form-control")}}

    <label for="password"> Password </label>
    {{form.password(placeholder="Password", class="form-control", type="password")}}

    <label for="remember_me"> Remember Me </label>
    {{form.remember_me(class="form-control")}}

    <input type="submit" value="Sign In" class="btn btn-success" />
</form>

OR <a href="/signin.html"> Sign Up For a New Account!</a>

</div>

{% endblock %}